<footer class="w-full flex flex-col md:flex-row gap-2 items-center justify-between bg-black text-white opacity-75 p-4 text-center">
    <p><span class="text-orange-600 font-bold">Vicent Payà giner</span> - Full-Stack Developer Portfolio</p>

    <p class="text-gray-300">Copyright © 2024</p>
</footer>