---
import { FaAngular } from "react-icons/fa";
import { IoLogoIonic } from "react-icons/io";
import { SiSpring } from "react-icons/si";
import { SiSpringboot } from "react-icons/si";
import { SiSpringsecurity } from "react-icons/si";
import { SiJasmine } from "react-icons/si";
import { SiJsonwebtokens } from "react-icons/si";
import { BiLogoPostgresql } from "react-icons/bi";
import { FaJava } from "react-icons/fa";
import { BiLogoTypescript } from "react-icons/bi";
import { RiTailwindCssFill } from "react-icons/ri";
import { FaBootstrap } from "react-icons/fa";
---

<section>
    <h2 class="font-bold text-center p-7 text-4xl sm:text-7xl">Tecnologías:</h2>

    <div class="flex flex-wrap items-center justify-center text-center gap-2 p-3 w-full">
        <div class="rounded bg-white">
            <FaAngular className="text-red-600 text-9xl p-2"/>
            <p class="text-xl p-2">Angular</p>
        </div>
        <div class="rounded bg-white">
            <IoLogoIonic className="text-blue-400 text-9xl p-2"/>
            <p class="text-xl p-2">Ionic</p>
        </div>
        <div class="rounded bg-white">
            <FaJava className="text-orange-400 text-9xl p-2"/>
            <p class="text-xl p-2">Java</p>
        </div>
        <div class="rounded bg-white">
            <SiSpring className="text-green-500 text-9xl p-2"/>
            <p class="text-xl p-2">Spring</p>
        </div>
        <div class="rounded bg-white">
            <SiSpringboot className="text-green-500 text-9xl p-2"/>
            <p class="text-xl p-2">Spring Boot</p>
        </div>
        <div class="rounded bg-white items flex flex-col items-center">
            <SiSpringsecurity className="text-green-500 text-9xl p-2"/>
            <p class="text-xl p-2">Spring Security</p>
        </div>
        <div class="rounded bg-white">
            <SiJasmine className="text-purple-600 text-9xl p-2"/>
            <p class="text-xl p-2">Jasmine</p>
        </div>
        <div class="rounded bg-white">
            <SiJsonwebtokens className="text-purple-600 text-9xl p-2"/>
            <p class="text-xl p-2">JWT</p>
        </div>
        <div class="rounded bg-white">
            <BiLogoPostgresql className="text-blue-800 text-9xl p-2"/>
            <p class="text-xl p-2">PostgreSQL</p>
        </div>
        <div class="rounded bg-white">
            <BiLogoTypescript className="text-blue-600 text-9xl p-2"/>
            <p class="text-xl p-2">TypeScript</p>
        </div>
        <div class="rounded bg-white">
            <RiTailwindCssFill className="text-cyan-400 text-9xl p-2"/>
            <p class="text-xl p-2">Tailwind</p>
        </div>
        <div class="rounded bg-white">
            <FaBootstrap className="text-purple-600 text-9xl p-2"/>
            <p class="text-xl p-2">Bootstrap</p>
        </div>
    </div>
</section>