---
import { FaFileAlt } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import { FaGithub } from "react-icons/fa";
---

<div class="flex flex-col justify-center items-center text-white rounded-lg p-7 space-y-5 object-center">
    <h1 class="text-5xl sm:text-9xl">Vicent Payà</h1>
    <h3 class="text-4xl sm:text-7xl font-serif text-pink-700">Full-Stack developer</h3>
    <p class="text-xl text-center p-4 max-w-[850px] text-gray-100">
        Hola! Soy un dessarrollador full-stack que se especializa en el uso de <span class="text-pink-600 font-bold">Spring</span> para backend y <span class="text-pink-600 font-bold">Angular</span> para Frontend.
        Me considero alguien perfeccionista y trabajador que le encanta aprender y trabajar en equipo para alcanzar objetivos.
    </p>

    <div class="flex gap-2">
        <a 
            target="_blank"
            class="flex-row justify-center text-white cursor-pointer hover:bg-blue-700 bg-blue-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-full px-5 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2"
            href="https://www.linkedin.com/in/vicent-pay%C3%A0-4357232b7/">
            <FaLinkedin className="text-white"/>
            Linkedin
        </a>
        <a
            href="/cv_Vicent_paya_WD.pdf"
            download="cv_vicent_paya.pdf"
            class="flex-row justify-center text-white cursor-pointer hover:bg-gray-900 bg-gray-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-full px-5 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2">
            <FaFileAlt />
            Descargar CV
        </a>
        <a 
            target="_blank"
            class="flex-row justify-center text-white cursor-pointer hover:bg-gray-900 bg-gray-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-full px-5 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2"
            href="https://github.com/Mariskii">
            <FaGithub/>
            GitHub
        </a>
    </div>
</div>