<div class="flex flex-col justify-center items-center text-white rounded-lg p-7 space-y-5 object-center">
    <h2 class="text-5xl sm:text-9xl">Vicent Payà</h2>
    <h3 class="text-4xl sm:text-7xl font-serif">Full-Stack developer</h3>
    <p class="text-xl text-center p-4 max-w-[850px]">
        Hola! Soy un dessarrollador full-stack que se especializa en el uso de Spring para backend y Angular para Frontend.
        Me considero alguien perfeccionista y trabajador que le encanta aprender y trabajar en equipo para alcanzar objetivos.
    </p>

    <button class="rounded-full bg-gray-600 text-white p-3 font-bold shadow-lg hover:bg-gray-800">Descargar CV</button>
</div>